.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3%;
    margin: auto;
    min-height: 100vh;
    padding: 100px 7%;
    max-width: 1280px;
}

.about-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    text-align: center;
}

.about-header h1 {
    margin-bottom: 2%;
    font-size: 24px;
    /* font-size: 32px; */
}

.about-header p {
    margin-bottom: 5%;
    font-size: 14px;
    line-height: 1.7;
    /* line-height: 2; */
    /* font-size: 18px; */
}

.informations-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    align-items: center;
    /* display: block; */
    /* flex-direction: row; */
}


.about-header-img {
    display: flex;
    justify-content: center;
    width: 100%;
    max-height: 500px;
}

.about-header-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: top center;
}


.informations {
    display: flex;
    width: 100%;
    height: auto;
    gap: 35px;
    align-items: center;
    margin-top: 3%;
    flex-direction: column;

}

.informations-box {
    display: flex;
    width: 100%;
    height: auto;
}


.inf-description {
    width: 80%;
    height: auto;
    line-height: 2;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    /* font-size: 16px; */
}

.inf-title {
    /* width: 20%;
    font-size: 20px; */
    width: 100%;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
}




.inf-description a {
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    /* font-size: 16px; */
}


address strong:first-child {
    margin-bottom: 10px;
}







/* Swiper */
.swiper {
    width: 80%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 78%;
    object-fit: cover;
    margin-bottom: 5%;
}


.our-team {
    height: 300px;
}

h5 {
    display: flex;
    height: auto;
    font-size: 16px;
    /* font-size: 20px; */
}

.our-team p {
    font-size: 14px;
    /* font-size: 16px; */
}

.swiper-pagination{
    width: 100%;
    position: static;
}

.swiper-pagination {
    --swiper-pagination-color: red;
    --swiper-pagination-bullet-size: 12px;
    --swiper-pagination-bullet-width: 12px;
    --swiper-pagination-bullet-height: 12px;
    --swiper-pagination-bullet-inactive-color: #000;
    --swiper-pagination-bullet-inactive-opacity: 0.2;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 4px;
    --swiper-pagination-bullet-vertical-gap: 6px;
    --swiper-pagination-top: auto;
}



@media screen and (min-width: 1024px) {
    .about-header h1 {
        font-size: 32px;
    }
    
    .about-header p {
        line-height: 2;
        font-size: 18px;
    }
    
    .informations-box{
        flex-direction: row;
        align-items: start;
    }

    
    .inf-description {
        font-size: 16px;
    }
    
    .inf-title {
        width: 20%;
        font-size: 20px;
    }
    
    
    
    
    .inf-description a {
        font-size: 16px;
    }

    h5 {
        font-size: 20px;
    }
    
    .our-team p {
        font-size: 16px;
    }
}