/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


input {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}


.header-info {
    background: transparent;
}


.header-info.scrolled {
    background-color: #000000;
}



/*=============== LOGIN ===============*/
.login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/cilent/assets/images/products/slider-2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.login-form {
    border: 1.5px solid #ffffff74;
    margin-inline: 1.5rem;
    padding: 38px 35px;
    max-width: 500px;
    width: 100%;
    background-color: hsla(0, 0%, 10%, 0.456);
    backdrop-filter: blur(8px);
    color: #fff;
}

.login-title {
    text-align: center;
    margin-bottom: 32px;
}

.login-content,
.login-box {
    display: grid;
    font-size: 12px;
}

.login-content {
    row-gap: 30px;
    margin-bottom: 22px;
}

.login-box {
    grid-template-columns: max-content 1fr;
    align-items: center;
    column-gap: 12px;
    border-bottom: 1.5px solid #fff;
}

.login-icon {
    font-size: 18px;
}

.login-input {
    width: 100%;
    padding-block: 0.6rem;
    background: none;
    position: relative;
    z-index: 1;
    color: #fff;
}


.login-label {
    position: absolute;
    left: 0;
    top: 13px;
    transition: top 0.3s, font-size 0.3s;
}


.login-box:nth-child(2) input {
    padding-right: 30px;
}

.login-check,
.login-check-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-check {
    gap: 5px;
    margin-bottom: 18px;
    /* margin-bottom: 36px; */
}



.login-check-group {
    column-gap: 0.5rem;
}

.login-check-label {
    font-size: 14px;
}

.login-check-input {
    width: 12px;
    height: 12px;
}


.login-button {
    width: 100%;
    padding: 16px;
    cursor: pointer;
    margin-bottom: 18px;
    /* margin-bottom: 32px; */
    background: #ffffff;
    border: none;
    color: #000000;
    transition: all 0.5s ease;
}

.login-button:hover {
    color: #fff;
    background-color: #d90000;
}

.login-button:active {
    background-color: #9a0101;
}


.login-register {
    text-align: center;
}

.login-register {
    font-size: 14px;
}

.login-register a,
.login-forgot {
    position: relative;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
}


.login-register a::after,
.login-forgot::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 1.5px;
    background-color: #fff;
    opacity: 0;
    transition: width 0.3s ease, left 0.3s ease;
}

.login-forgot:hover::after,
.login-register a:hover::after {
    width: 100%;
    left: 0;
    opacity: 1;
}

.login-input:focus+.login-label {
    top: -12px;

}

.login-input:not(:placeholder-shown).login-input:not(:focus)+.login-label {
    top: -12px;
}




input {
    font-size: 16px;
}

input[type="password"]::-webkit-reveal {
    visibility: hidden;
}

/* Firefox ve diğer tarayıcılarda */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    visibility: hidden;
}

.login-box-input {
    position: relative;
}

.login-eye {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.login-title {
    font-size: 20px;
}


/*=============== BREAKPOINTS ===============*/
@media screen and (min-width: 1024px) {

    .login-check {
        margin-bottom: 36px;
    }


    .login-title {
        font-size: 24px;
    }

    .login-check-group {
        column-gap: 0.5rem;
    }


    .login-check-input {
        width: 14px;
        height: 14px;
    }


    .login-button {
        margin-bottom: 32px;
    }





}